/* pdfjs text layer */
.textLayer {
  position: absolute;
  top: 0; left: 0;
  overflow: hidden;
  opacity: 1;
  line-height: 1;
  pointer-events: none;
}
.textLayer span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
  pointer-events: all;
}
.textLayer ::selection {
  background: rgba(0, 0, 255, 0.3);
}